<!--The content below is only a placeholder and can be replaced.-->
<a [routerLink]="'/'">Home</a>
<a [routerLink]="'/jtodo'">Todo</a>
<a [routerLink]="'/tutorial'">Tutorial</a>
<router-outlet></router-outlet>
<!-- <h1>{{(mac|async).count}}</h1>
<counter [counter]="mac|async"></counter>
<div *ngIf="tutorial">
  <addTutorial></addTutorial>
  <tutorialList [tutorials]="tutorial.data" [counter]="counter"></tutorialList>
</div>


<hr />
<p>async(+) should not work(except shown 'loading...'). Until you click on Add Effects button or Add Tutorial State
  button (asyncInc effect also declared in 'TutorialState'. If you remove 'TutorialState', effects inside this class
  should be removed also)</p>

<button (click)="addEffect()" class="btn btn-primary">Add Effect</button>
<button (click)="removeEffect()" class="btn btn-danger">Remove Effect</button>
<hr>
<button (click)="addState()" class="btn btn-primary">Add Tutorial State</button>
<button (click)="removeState()" class="btn btn-danger">Remove Tutorial State</button>
<hr>
<search></search>
<div>
  <header class="header">Todo List <b>{{todo.message}}</b></header>
  <addTodo></addTodo>
  <todos [todos]="todo.data"></todos>
</div>
<h1>{{(mac|async).count}}</h1> -->